/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Layout geral */
body {
    display: flex;
    height: 100vh;
}

/* Coluna da esquerda */
.left {
    width: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 40px;
    margin-bottom: 20px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.subtitle {
    margin-top: 10px;
    font-size: 18px;
    color: #444;
}

/* Formulário */
.form-container {
    width: 300px;
    margin-top: 30px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.forgot-password {
    text-align: right;
    font-size: 14px;
    margin-top: -5px;
}

.forgot-password a {
    text-decoration: none;
    color: #b0d46c;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #b0d46c;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #004510;
}

/* Coluna da direita */
.right {
    width: 50%;
    background-color: #b0d46c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.right h1 {
    font-size: 36px;
    font-weight: bold;
}

.right p {
    margin-top: 10px;
    font-size: 16px;
}

.side-image {
    width: 50%;  /* Ocupa metade da tela */
    height: 100vh;  /* Ocupa a altura total da tela */
    background-color: #000000; /* Cor de fundo para destacar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-image img {
    max-width: 80%;  /* Ajuste para não ultrapassar a div */
    max-height: 80%;
    object-fit: contain;  /* Mantém a proporção da imagem */
}